package layouts

templ Base() {
    <!DOCTYPE html>
    <html lang="en" class="w-full min-h-screen">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Tax bro</title>
            <link href="/assets/styles.css" rel="stylesheet">
        </head>
        <body class="w-full min-h-screen bg-gray-100">
            { children... }
        </body>
    </html>
}
