@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("/assets/inter.ttf");
    font-weight: 100 1000;
}

* {
    font-family: Inter;
}

.border-primary {
    @apply border-slate-200 border shadow-sm rounded-md;
}

.border-secondary {
    @apply border-slate-200 border rounded;
}

.heading-1 {
    @apply text-slate-900 text-3xl font-semibold
}


.heading-2 {
    @apply text-slate-900 text-xl font-semibold
}

.heading-3 {
    @apply text-slate-900 font-medium
}
